:root{

  --primary:#39ff14;
  --dark:#050b12;
  --dark-card:#09131d;
  --light:#f5f7fa;
  --white:#ffffff;

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Segoe UI',sans-serif;
  transition:0.4s;
}

body.dark{
  background:var(--dark);
  color:white;
}

body.light{
  background:var(--light);
  color:#111;
}

.app{
  min-height:100vh;
}

.main-content{
  display:flex;
  gap:20px;
  padding:20px;
}

.content{
  flex:1;
}

.section-title{

  margin-bottom:15px;

  padding-bottom:10px;

  border-bottom:2px solid var(--primary);

  font-size:1.4rem;

  font-weight:700;
}

.section-container{
  margin-bottom:25px;
}