.whatsapp-button{

  position:fixed;

  right:25px;

  bottom:25px;

  width:75px;

  height:75px;

  border-radius:50%;

  background:#25D366;

  color:white;

  display:flex;

  align-items:center;

  justify-content:center;

  text-decoration:none;

  font-size:35px;

  box-shadow:0 0 20px rgba(37,211,102,.6);

  z-index:9999;

  transition:.3s;
}

.whatsapp-button:hover{

  transform:scale(1.1);
}