.whatsapp-btn{

    position:fixed;

    right:25px;

    bottom:25px;

    width:90px;

    height:90px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

    animation:bounceBall 2s infinite;
}

.whatsapp-btn img{

    width:90px;

    height:90px;

    object-fit:contain;

    transition:.3s;
}

.whatsapp-btn:hover img{

    transform:scale(1.15) rotate(10deg);
}

@keyframes bounceBall{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }
}

@keyframes glowBall{

    0%{
        box-shadow:0 0 10px #25d366;
    }

    50%{
        box-shadow:0 0 35px #25d366;
    }

    100%{
        box-shadow:0 0 10px #25d366;
    }
}

